@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap);
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;


}

.hype-content{
    margin-left: 25%;
    align-self: center;
   
  
}

