.Navbar {
    background-color: #282c34;
    width: 100%;
    height: 80px;
    display: inline-flex;

    justify-content: space-between;
}

.Navbar .leftSide {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 24px;
    width: 240px;
    color: white;
    text-align: center;
}

.Navbar .centerSide {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
.Navbar .centerSide .links {
    max-height: 80px;
}

.Navbar .centerSide .links a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin: auto 12px;
}

.Navbar .centerSide #hidden {
    display: flex;
}

.Navbar .centerSide {
    display: flex;
    align-items: center;
}

.rightSide {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 240px;
    padding-right: 12px;
}

#dropdown-nav-main-wrapper {
    background: none;
    border: none;
}
#dropdown-nav-main-wrapper:focus {
    outline: none;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: none;
}
#dropdown-nav-profile-picture {
    background: #ebebfa;
    width: 64px;
    height: 64px;
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
}
#dropdown-menu-header {
    text-align: center;
    font-size: 18px;
    background: lightgreen;
    border-radius: 16px;
    width: 50%;
    margin: 0 auto 6px;
}
.rightSide > .nonloggedLinks > a {
    color: pink;
    margin: auto 12px;
}
.rightSide .dropdown-item-nav {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-item-nav p {
    margin: 0;
}
#logout-menu-bttn {
    text-align: center;
    color: red;
}

#bottom-dropdown-profile-wrapper {
    display: inline-flex;
    justify-content: space-between;
    width: calc(100% - 12px);
    font-size: 9px;
    text-align: center;
    margin: auto 6px auto;
}
#bottom-dropdown-profile-wrapper > .dropDownNavLink {
    margin: 2px;
}
#bottom-dropdown-profile-wrapper > .dropDownNavLink:hover {
    color: black;
}

@media only screen and (max-width: 750px) {
    .Navbar .leftSide .links {
        font-size: 15px;
    }
}

@media only screen and (max-width: 650px) {
    .Navbar .leftSide button {
        display: flex;
        height: 30px;
        width: 40px;
        font-size: 30px;
        align-items: center;
    }
    .Navbar .leftSide .links {
        display: none;
    }

    .Navbar .leftSide #hidden {
        position: absolute;
        left: 0px;
        top: 80px;
        max-height: 260px;
        width: 100%;
        background-color: #282c34;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Navbar .leftSide #hidden a {
        margin: 10px;
        font-size: 25px;
    }
}
