@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap);

.signUpBox h1{
  color: #0001B3;
}

.signUpBox{
  
  width: 25%;
  border-radius: 5px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #EBEBFA;
  
}


.signUpBox > div input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.signUpBox > div input.password{
  -webkit-text-security: disc;
}

