.container {
    display: flex;
    width: 50%;
    text-align: center;
    margin-left: 20px;
}
  
.container div{
    border: 1px solid black;
    width: 30%;
    text-align: center;
    background-color:grey;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}


.name{
    color:blue;
}


.price{
    color:goldenrod;
}

.hypestonk{
    color:greenyellow;
}
.mehstonk{
    color:yellow;
}

.unhypestonk{
    color:red
}