.container {
    display: flex;
    width: 50%;
    text-align: center;
    margin-left: 20px;
    background-color:  #4091ff;

}
  
.container div{
    border: 0.5px solid black;
    width: 33.3%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

a:hover{
    background-color: #B89700;
    color:aliceblue;
}


.name{
    color: darkblue;
}


.price{
    color: #FFDD47;
}

.hypestonk{
    color:greenyellow;
}
.mehstonk{
    color:yellow;
}

.unhypestonk{
    color:red
}

.hoverClass{
    color:white;
}