.stonks-header{
    display: flex;
    width: 50%;
    text-align: center;
    background-color:  #B89700
}

.stonks-header div{
    border: 0.5px solid #B89700 ;
    width: 33.3%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
}
