/* <--- Single Stonk Graph ---> */

.stonk-graph-outer-wrapper {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
#graph-wrapper {
    background-color: rgb(21, 21, 122);
    width: 80%;
    position: relative;
    padding-bottom: 6px;
}
#empty-graph-wrapper {
    min-height: 400px;
    background-color: rgb(21, 21, 122);
    width: 80%;
    position: relative;
    padding-bottom: 6px;
}
.empty-graph-header {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 80%;
    left: 10%;
    
}
.upper-graph-header {
    background: white;
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.left-upper-graph {
    display: inline-flex;
    align-items: center;
}
.left-upper-graph-logo {
    width: 46px;
    height: 46px;
}
.left-upper-graph-subheader,
.right-upper-graph-subheader {
    font-size: 32px;
    margin: 0;
    padding: 4px 24px 4px 12px;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    color: black;
}

.top-graph-time-directory {
    padding: 0 12px;
    background: rgb(219, 219, 219);
}
.top-graph-time-inner-list {
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: flex-start;
}
.top-graph-time-inner-list > li {
    margin: 0 4px;
}
.top-graph-time-inner-list > li > button {
    border: 1px solid black;
    padding: 4px 12px;
    border: none;
}
.top-graph-time-inner-list > li > button:hover {
    background: gold;
    cursor: pointer;
}
.top-graph-time-inner-list > li > button:focus {
    outline: none;
}
