
/* Dark blue: #0001B3
White: #EBEBFA
Blue Purple: #4041FF
Dark Gold: #B89700
Light Gold: #FFDD47 
Font-family: https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom#standard-styles
*/

@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap);
h1{
    color: #0001B3;
}
html, body, #app, #app>div {
    height: 100%
  }
body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(./stonkMeme.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0px;
}

.loginBox{
    position: absolute;
    bottom: 50%;
    left: 45%;
    background-color: #EBEBFA;
    width: min-content;
    text-align: center;
    height: 30%;
    padding: 20px 5px 30px 5px;
    
}
