// Announcements for Dashboard

#announce-wrapper {
    background: rgb(238, 238, 238);
    margin: 48px auto;
    min-width: 400px;
    width: 80%;
    max-width: 740px;

    #article-wrapper {
        height: 600px;
        overflow: scroll;
        padding: 12px;

        .each-article {
            position: relative;
            padding: 6px 24px;
            background: rgb(236, 236, 236);
            margin: 12px auto;
            border-radius: 16px;
        }
        .article-title {
            font-size: 24px;
            font-weight: bold;
        }
        .article-image {
            margin: auto auto 12px;
        }
        .article-timestamp {
            font-size: 18px;
            position: absolute;
            top: 10px;
            right: 24px;
        }
        .article-sign {
            padding-left: 24px;
            font-style: italic;
            font-weight: bold;
        }
    }
    #article2 {
        li {
            margin: 32px auto;
        }
        .heavy-article-name {
            font-weight: bold;
        }
        .article-example {
            font-style: italic;
            padding-left: 24px;
        }
    }
}
