
.welcome1{
    width: 100%;
    margin-top: 50px;
    text-align: center;
    font-size: 75px;
    animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
}
.welcome2{
    line-height: 500px;
    height: 500px;
    width: 100%;
    display: flex;
    font-size: 500px;
    text-align: center;
    margin-bottom: 300px;
    justify-content: center;
    animation: fadeInAnimation ease 5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
}

.bigLetter{
    display: flex;
    align-self: flex-end;
    font-size: 200px;
}
.smallLetter{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content:end;
    font-size: 20px;
}
@keyframes fadeInAnimation {
    0% {
        font-size: 0px;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.dashboard_wrapper  {
    height:auto;
    width: 810px;
    margin-left: 20%;
}

.dashboard_wrapper p{
    border-left:1px solid #333;
    border-right:1px solid #333;
    padding: 10px 15px;
    margin:0;

}

.dashboard_wrapper .dashboard_box{
    display: inline-block;
    width: 250px;
    margin-top: 50px;
    margin-left: 20px;
    background-color:gray;
}



.dashboard_top {
    width: 248px;
    height: 30px;
    border: 1px solid #333;
    background: #CCC;    
    
}

.dashboard_top h3{
    margin: 0;
    line-height: 30px;
    padding: 0px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;

}

.dashboard_bottom{
    width: 248px;
    border-top-style: none;
    height: 1px;
    border: 1px solid #333;
    
}

.dashboard_hot_stonks{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.tweet-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.tweet-container div {
    width: 100%;
    margin: 48px auto;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    justify-content: center;
}



