/* This is for the setup process page */

.setup-page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.setup-main-above-info {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 112px;
  display: inline-flex;
  align-items: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.setup-main-name {
  padding: 0 32px;
}

.setup-inner-wrapper {
  display: block;
  width: 90%;
  margin-top: 80px;
  max-width: 540px;
  height: 500px;
  padding: 12px 24px 12px;
  overflow-y: scroll;
  position: relative;
  background: white;
  border-radius: 12px;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 50px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -10px 30px 0px inset;
}

#top-bar-setup {
  background: #ffdd47;
  height: 12px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#setup-initial-icon {
  width: 100%;
}
.link-redirect-setup:hover {
  background: none;
  color: darkblue;
}

.setup-description-initial {

}
.setup-header {
  font-size: 32px;
}
.setup-description {
  margin: 0;
  margin-bottom: 16px;
}
.setup-directory {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  position: absolute;
  bottom: 24px;
  left: 0;
}
#confirm-directory {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  position: relative;
}
.go-setup-path-button,
.back-setup-path-button {
  margin: 12px 12px 0px;
  background: white;
  border: none;
  border-radius: 4px;
  padding: 6px 36px;
  border: 1px solid grey;
  min-width: 120px;
}
.go-setup-path-button {
  background: #ffdd47;
}
.go-setup-path-button:hover {
  cursor: pointer;
  background: #eece42;
}
.back-setup-path-button {
  background: #dbdbdb;
}
.back-setup-path-button:hover {
  cursor: pointer;
  background: #cecbcb;
}
.go-setup-path-button:active,
.back-setup-path-button:active {
  outline: none;
}
.setup-personal-info-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.setup-personal-info-inputs > input {
  margin: 4px;
  width: 320px;
}
.interest-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 320px;
  overflow-y: scroll;
}
.interest-list > .each-interest-item > .interest-bttn {
  margin: 0px 6px 12px;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
  padding: 6px 10px;
  border: none;
}
.interest-list > .each-interest-item > .interest-bttn:focus {
  outline: none;
}
.interest-not-selected {
  color: black;
  background: rgb(231, 231, 231);
}
.interest-not-selected:hover {
  cursor: pointer;
  background: rgb(224, 224, 224);
}
.interest-selected {
  background: #ffdd47;
}
.interest-selected:hover {
  cursor: pointer;
  background: #f0d042;
}

.stonk-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 320px;
  overflow-y: scroll;
}
.stonk-list > .each-stonk-item > .stonk-bttn {
  margin: 0px 6px 12px;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
  padding: 6px 10px;
  border: none;
}
.stonk-list > .each-stonk-item > .stonk-bttn:focus {
  outline: none;
}
.stonk-not-selected {
  color: black;
  background: rgb(231, 231, 231);
}
.stonk-not-selected:hover {
  cursor: pointer;
  background: rgb(224, 224, 224);
}
.stonk-selected {
  background: rgb(187, 187, 255);
}
.stonk-selected:hover {
  cursor: pointer;
  background: rgb(204, 204, 252);
}

#file-profile-picture-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile-picture-setup {
  background: #ebebfa;
  width: 140px;
  height: 140px;
  display: inline-block;
  border-radius: 50%;
  object-fit: cover;
}

.profile-picture-upload-input {
  background: #ffdd47;
  padding: 4px;
  margin-top: 8px;
  border-radius: 4px;
  width: 220px;
}

.confirm-input-divider {
  background: grey;
  height: 1px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
}

.confirm-personal-info,
.confirm-interests,
.confirm-stonks,
.confirm-profile-picture {
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 120px;
}
.confirm-info-title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.confirm-profile-picture {
  height: 240px;
}
.confirm-personal-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.confirm-personal-single {
  display: inline-flex;
  width: 320px;
  height: 32px;
  margin: auto;
  align-items: center;
}
.confirm-personal-single > h6 {
  width: 110px;
  padding: 0;
  margin: 0;
}
.confirm-personal-single > input {
  width: 240px;
}
.no-confirm-input {
  text-align: center;
  color: lightgray;
  padding-top: 12px;
}
.interest-list-confirm {
  list-style: none;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
}
.interest-list-confirm > .each-interest-item-confirm {
  background: #ffdd47;
  border-radius: 4px;
  margin: 0px 5px 10px;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
  padding: 6px 10px;
  border: none;
  font-size: 14px;
}
.stonk-list-confirm {
  list-style: none;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
}
.stonk-list-confirm > .each-stonk-item-confirm {
  background: rgb(187, 187, 255);
  border-radius: 4px;
  margin: 0px 5px 10px;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
  padding: 6px 10px;
  border: none;
  font-size: 14px;
}
.not-correct-edit-here {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  color: lightslategrey;
  border: none;
  font-size: 14px;
}
.not-correct-edit-here:hover {
  cursor: pointer;
  color: grey;
}
